
#ifndef ESP_EPROM_SETTINGS_DEFAULTS_H
#define ESP_EPROM_SETTINGS_DEFAULTS_H

#define default_wifi_ssid ""
#define default_wifi_password ""
#define default_mqtt_hostname ""
#define default_mqtt_port 1883
#define default_mqtt_username ""
#define default_mqtt_password ""

#endif // ESP_EPROM_SETTINGS_DEFAULTS_H
